<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.pansky.otp5.baseplatform.dao.IResourceDao">

	<resultMap id="BaseResultMap"
		type="cn.com.pansky.otp5.baseplatform.dao.po.Resource">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="p_id" property="pId" jdbcType="VARCHAR" />
		<result column="enabled" property="enabled" jdbcType="VARCHAR" />
		<result column="creation_user" property="creationUser"
			jdbcType="VARCHAR" />
		<result column="creation_time" property="creationTime"
			jdbcType="TIMESTAMP" />
		<result column="last_modify_user" property="lastModifyUser"
			jdbcType="VARCHAR" />
		<result column="last_modify_time" property="lastModifyTime"
			jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name, url,type,p_id,enabled,
		creation_user,creation_time,last_modify_user,last_modify_time
	</sql>


	<select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		<if test="name != null">
			<bind name="_name" value="'%' + _parameter.name + '%'" />
		</if>
		select
		<include refid="Base_Column_List" />
		from auth_resource a
		where a.enabled != '2'
		and a.p_id = #{pId}
		<if test="name != null">
			and a.name like #{_name}
		</if>
	</select>

	<insert id="insert" parameterType="cn.com.pansky.otp5.baseplatform.dao.po.Resource">
		insert into auth_resource (
		<include refid="Base_Column_List" />
		)
		values (#{id}, #{name}, #{url}, #{type}, #{pId}, #{enabled},
		#{creationUser},#{creationTime},#{lastModifyUser},#{lastModifyTime}
		)
	</insert>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from auth_resource
		where id = #{id}
	</select>



	<update id="updateByPrimaryKey" parameterType="cn.com.pansky.otp5.baseplatform.dao.po.Resource">
		update auth_resource a
		<set>
			name = #{name},
			url = #{url},
			type = #{type},
			p_id = #{pId},
			enabled = #{enabled},
			last_modify_user = #{lastModifyUser},
			last_modify_time = #{lastModifyTime}
		</set>
		where id = #{id}
	</update>


	<update id="updateEnabledByPrimaryKey">
		update auth_resource a
		set a.enabled=#{0}
		where id = #{1}
	</update>

	<select id="selectResourcesByPId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from auth_resource a
		where a.p_id = #{pId}
		and a.enabled !='2'
	</select>
	
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from auth_resource a
    where a.enabled !='2'
  </select>
  



</mapper>